
@import '../assets/scss/default.scss';

body{
    // background-image: url('../assets/img/1.jpg');
   
}
.contaiter{
    padding: 0px;
}
section.header{
    height: 800px;
    background:linear-gradient(0deg, rgb(253, 113, 44) 0%, rgb(242, 23, 128) 100%);
}