<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        section.header
            .container 
                .row
                    .col-7 rfw
                    .col-5 wdw

    //- img(src='./assets/img/2.jpg')